$background-color: #EEEEEE;
$header-color: #000000;
$footer-color: #000000;
$error-color: #F44336;

$max-content-width: 1200px;
$header-height: 46px;
$footer-height: 62px;
$font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
