.login-container {
  background: url("~/resources/images/login-background.jpg") no-repeat;
  background-size: auto 100%;
  background-position: right;
  min-height: calc(100vh - #{$footer-height} - #{$header-height});
  position: relative;

  .login-form {
    position: absolute;
    top: calc(50% - 100px);
    left: 125px;
  }

  .login-error {
    color: $error-color
  }

  .login-title {
    font-size: 30px;
    font-style: italic;
    padding-bottom: 10px;
  }
}

