.about-container {
  background: url("~/resources/images/about-background.jpg") no-repeat;
  background-size: auto 100%;
  background-position: left;
  min-height: calc(100vh - #{$footer-height} - #{$header-height});
  position: relative;
  font-style: italic;
  .text-container {
    position: relative;
    float: right;
    width: 400px;
    font-size: 30px;
    height: calc(100vh - #{$footer-height} - #{$header-height});
    right: 125px;

    .title {
      position: absolute;
      top: 140px;
    }

    .content {
      position: absolute;
      top: calc(50% - 82px);
    }

    .questions {
      bottom: 100px;
      position: absolute;
      right: 0px;
      width: 300px;

      a {
        float: right;
        color: rgb(0, 188, 212);
      }
    }
  }
}

